/* подключаемые шрифты */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/PlayfairDisplay-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display Medium";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/PlayfairDisplay-Medium.woff") format("woff");
    font-display: swap;
}

/* Страница */

html {
    height: 100%;
}

body {
    display: flex;
    min-width: 1000px;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans";
    font-size: 26px;
    line-height: 32px;
    background-color: #ffffff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
    margin: 0 auto;
    width: 1000px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 25px 41px 17px 40px;
    height: 50px;
}

.navigation-logo {
    display: flex;
}

.navigation-page-link {
    text-decoration: none;
    color: #000000;
    padding: 9px 5px;
    font-size: 24px;
    line-height: 32px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.navigation-links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}

.navigation-links-conders,
.navigation-links-shops,
.navigation-links-contacts {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    text-decoration: none;
    color: #000000;
    padding: 9px 20.25px;
}

.navigation-links-contacts {
    margin-right: -20px;
}

.main-position {
    width: 920px;
    height: 1087px;
    box-sizing: border-box;
    padding: 53px 50px 0;
    margin: 0 40px;
    background-color: #71d0fe;
    background-image: url(images/conder-main.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-position h1 {
    font-family: "Playfair Display Medium";
    font-size: 128px;
    line-height: 115px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.main-position p {
    font-size: 32px;
    line-height: 41px;
    margin: 40px 0 0;
}

.main-properties h2 {
    font-family: "Playfair Display Medium";
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    margin: 74px 95px 41px 0;
}

.conder-block {
    display: flex;
    margin-left: 24px;
}

.conder-picture {
    margin-top: 193px;
}

.properties {
    margin-left: 11px;
    margin-top: 0;
}

.properties p {
    margin-bottom: 40px;
    line-height: 34px;
    margin-left: 36px;
    position: relative;
}

.power-icon, .mobil-icon {
    position: absolute;
    top: 7px;
    left: -35px;
}

.lock-icon,
.volume-icon {
    position: absolute;
    top: 6px;
    left: -35px;
}

.main-addition {
    position: relative;
    box-sizing: border-box;
    width: 920px;
    background-color: #71d0fe;
    margin: 77px 40px 0;
    padding: 25px 0 61px 53px;
}

.addition-title {
    font-family: "Playfair Display Medium";
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
}

.main-addition p {
    margin: 0;
    margin-top: 11px;
    line-height: 34px;
}

.tube-image {
    position: absolute;
    top: -245px;
    right: -40px;
}

.button {
    font-family: "PT Sans";
    font-size: 36px;
    line-height: 47px;
    font-weight: 700;
    box-sizing: border-box;
    width: 390px;
    border-radius: 13px;
    border: none;
    outline: none;
    background-color: #4070ea;
    color: #fdfdfd;
    padding: 15px 44px 19px;
    margin: 155px 305px 144px 305px;
    cursor: pointer;
}

.button:hover {
    background-color: #0b4cf1;
}

.footer {
    margin: 0 40px 40px 40px;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

.adress {
    display: flex;
    list-style: none;
    font-size: 15px;
    line-height: 17px;
    margin-top: 5px;
}

.adress-position {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-left: 79px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.social-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.vk-link,
.odnoklassniki-link,
.telegram-link {
    display: inline-block;
    height: 39px;
    margin-left: 8px;
}